<button class="btn btn-default btn-md">default</button>
<button class="btn active btn-default btn-md">default</button>
<button class="btn focus btn-default btn-md">default</button>
<button class="btn disabled btn-default btn-md" disabled="">default</button>
<button class="btn btn-primary btn-md">primary</button>
<button class="btn active btn-primary btn-md">primary</button>
<button class="btn focus btn-primary btn-md">primary</button>
<button class="btn disabled btn-primary btn-md" disabled="">primary</button>
<button class="btn btn-secondary btn-md">secondary</button>
<button class="btn active btn-secondary btn-md">secondary</button>
<button class="btn focus btn-secondary btn-md">secondary</button>
<button class="btn disabled btn-secondary btn-md" disabled="">secondary</button>
<button class="btn btn-link btn-md">link</button>
<button class="btn active btn-link btn-md">link</button>
<button class="btn focus btn-link btn-md">link</button>
<button class="btn disabled btn-link btn-md" disabled="">link</button>
<button class="btn btn-success btn-md">success</button>
<button class="btn active btn-success btn-md">success</button>
<button class="btn focus btn-success btn-md">success</button>
<button class="btn disabled btn-success btn-md" disabled="">success</button>
<button class="btn btn-info btn-md">info</button>
<button class="btn active btn-info btn-md">info</button>
<button class="btn focus btn-info btn-md">info</button>
<button class="btn disabled btn-info btn-md" disabled="">info</button>
<button class="btn btn-warning btn-md">warning</button>
<button class="btn active btn-warning btn-md">warning</button>
<button class="btn focus btn-warning btn-md">warning</button>
<button class="btn disabled btn-warning btn-md" disabled="">warning</button>
<button class="btn btn-danger btn-md">danger</button>
<button class="btn active btn-danger btn-md">danger</button>
<button class="btn focus btn-danger btn-md">danger</button>
<button class="btn disabled btn-danger btn-md" disabled="">danger</button>
<button class="btn btn-outline-dark btn-md">outline-dark</button>
<button class="btn active btn-outline-dark btn-md">outline-dark</button>
<button class="btn focus btn-outline-dark btn-md">outline-dark</button>
<button class="btn disabled btn-outline-dark btn-md" disabled="">outline-dark</button>
<button class="btn btn-outline-light btn-md">outline-light</button>
<button class="btn active btn-outline-light btn-md">outline-light</button>
<button class="btn focus btn-outline-light btn-md">outline-light</button>
<button class="btn disabled btn-outline-light btn-md" disabled="">outline-light</button>