<article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 qg-card-demo">
  <div class="content">
    <img src="http://via.placeholder.com/840x460/ddd/ddd" alt="">
    <div class="qg-card__footer">
      <a href="/docs/components.html" class="qg-btn btn-link">Button Text</a>
    </div>
  </div>
</article>
<article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 qg-card-demo">
  <div class="content">
    <img src="http://via.placeholder.com/840x460/ddd/ddd" alt="">
    <div class="qg-card__footer">
      <a href="#" class="qg-btn btn-secondary">Button Text</a>
    </div>
  </div>
</article>